* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
}

header {
    display: flex;
    align-items: center;
    height: 4em;
}

header > a {
    flex-basis: 50%;
    margin-left: 10em;
}

header > ul {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

header > ul > * {
    padding-left: 2em;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

header + section {
    height: 15em;
    display: flex;
    padding: 2em 5em;
}

header + section * {
    color: white;
}

header + section > * {
    flex-basis: 50%;
    margin: 0 2em;
}

header + section > * > * {
    margin: auto;
}

header, header + section {
    background-color: rgb(32,42,55);
}

header + section > section + section {
    background: rgb(109, 116, 125);
    display: flex;
}

button {
    background-color: rgb(59,130,246);
    padding: .25em 1em;
    border-radius: .25em;
    border: none;
}

header + section + section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15em;
    margin-top: 2em;
}

header + section + section > section {
    margin: 2em 10em;
    display: flex;
}

header + section + section > section > section > img {
    width: 100px;
    border: 2px solid blue;
    border-radius: .5em;
}